.header {
    text-align: center;
}
.container {
    max-width: 600px;
}
#todo-input {
    width: 393px;
    margin: 0 5px;
}
#todo-list {
    margin-top: 20px;
}
.wrapper {
    height: 24px;
}
.todo-item {
    margin: 10px 0;
}
.todo-item .edit{
    position: relative;
    float: left;
    left: 0;
    height: 20px;
    margin: 2px 0 2px 22px;
    color: #000;
}
.todo-text {
    margin-left: 24px;
    line-height: 24px;
}
.close {
    margin-right: 6px;
    display: none;
}
.todo-item:hover .todo-checkbox, .todo-item:hover .close {
    display: block;
}
input.todo-checkbox {
    float: left;
    position: absolute;
    margin: 6px;
    display: none;
}
.todo-item.bg-danger {
    text-align: center;
}